<div class="introduction-section">
    <img src="assets/img/purple-shadow.png" class="purple-shadow">
    <img src="assets/img/light-green-shadow.png" class="green-shadow">

    <div class="introduction-content">
        <div class="align-introduction">
            <div class="rotated-text"> I am </div>
            <div class="introduction-text">
                <span class="name">Tom Krause</span>
                <span class="vocation">Frontend Developer</span>
            </div>
        </div>

        <button class="letsTalk-button" (click)="toLocation('contact-section')">Let´s talk!</button>
    </div>

    <div class="scrollDown"> Scroll down <img src="assets/img/arrow.png"> </div>

    <div class="place-network-icons">
        <div class="blue-stroke"></div>
        <img (click)="redirectTo('https://github.com/FaroTom')" src="assets/img/github-icon.png">
        <img (click)="toLocation('contact-section')" src="assets/img/mail-icon.png"> 
        <img (click)="redirectTo('https://www.linkedin.com/in/tom-krause-882709233/')" src="assets/img/linkedIn-icon.png">
    </div>
</div>