<div class="header">
    <div class="header-title">
        <a (click)="toLocation('introduction-section'); backToMainPage()">&lt; To<span>m</span> &gt;</a>
    </div>

    <div class="header-selection">
        <a id="about-me" (click)="highlightLink('about-me'); toLocation('about-me-section')">About me</a>
        <a id="skills" (click)="highlightLink('skills'); toLocation('skills-section')" >Skills</a>
        <a id="portfolio" (click)="highlightLink('portfolio'); toLocation('portfolio-section')" >Portfolio</a>
    </div>

    <img (click)="openMenu()" class="menu-img" src="assets/img/menu.png">
</div>
