<div id="footer-container" class="footer-container">
    <div class="footer-content">
        <div class="content-leftside">
            <a class="footer-logo" (click)="toLocation('introduction-section')">&lt; To<span>m</span> &gt;</a> <br>
            <a class="imprint" (click)="openImprint()">Imprint</a>
        </div>

        <div class="content-middle">
            &copy; Tom Krause 2023
        </div>

        <div class="content-rightside">
           <img (click)="redirectTo('https://github.com/FaroTom')" src="assets/img/github-icon.png"> 
           <img (click)="toLocation('contact-section')" src="assets/img/mail-icon.png"> 
           <img (click)="redirectTo('https://www.linkedin.com/in/tom-krause-882709233/')" src="assets/img/linkedIn-icon.png"> 
        </div>
    </div>
</div>
