<div class="footer-container">
    <div class="footer-content">
        <div class="content-leftside">
            <span (click)="toLocation('introduction-section')">&lt; Tom &gt;</span> <br>
            <a>Impressum</a>
        </div>

        <div class="content-middle">
            &copy; Tom Krause 2022
        </div>

        <div class="content-rightside">
           <img (click)="redirectTo('https://github.com/FaroTom')" src="/assets/img/github-icon.png"> 
           <img (click)="toLocation('contact-section')" src="/assets/img/mail-icon.png"> 
           <img (click)="redirectTo('https://www.linkedin.com/in/tom-krause-882709233/')" src="/assets/img/linkedIn-icon.png"> 
        </div>
    </div>
</div>
