.skills-section {
    position: relative;
    max-width: 100%;
    background-color: rgb(20, 29, 47);
    display: flex;
    align-items: center;
}

.single-column {
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 80px;
    img {
        z-index: 2;
    }
}

.place-shadow {
    position:absolute;
    right: 0;
    bottom: -400px;
    background-image: url('../../assets/img/green-shadow.png');
    height: 750px;
    width: 450px;
    background-size: cover;
    z-index: 200;
}

.place-icons {
    gap: 110px;
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    height: 65vh;
    padding-bottom: 10%;
    padding-top: 5%;
    z-index: 4;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 6px;

    &:hover {
        img {
            animation: spin-icon 0.6s;
        }
    }
}

@keyframes spin-icon {
    from {

    }
    to {
        transform: rotate(360deg);
    }
}

.skills-headline {
    gap: 40px;
    display: flex;
    align-items: center;

    span {
        color: white;
        font-size: 84px;
        font-family: 'poppins-bold';
    }
}

.blue-stroke {
    width: 300px;
    height: 4px;
    background-color: rgb(28, 230, 181);
    border-radius: 10px;
}

.skills-text {
    width: 480px;

    span {
        color: white;
    }
}

.skills-content {
    position: absolute;
    z-index: 500;
    display: flex;
    right: 0;
    top: 17%;
    gap: 36px;
    flex-direction: column;
}

.contact-button {
    background-color: rgb(0, 190, 232);
    padding: 16px;
    width: 200px;
    border-radius: 10px;
    color: white;
    font-size: 22px;
    border: none;

    &:hover {
        cursor: pointer;
        background-color: rgb(75, 71, 255);
        scale: 1.1;
    }
}

@media (max-width: 1350px) {
    .place-icons {
        gap: 70px;
    }
    .skills-headline {
        span {
            font-size: 68px;
        }
    }
}

@media (max-width: 1175px) {
    .skills-content {
        position: unset;
        width: 100%;
        align-items: center;
    }

    .skills-section {
        flex-direction: column-reverse;
        height: 110vh;
        justify-content: center;
    }

    .skills-headline {
        width: 100%;
        justify-content: center;
        position: relative;
    }

    .blue-stroke {
        position: absolute;
        right: 0;
        width: 35%;
    }
    .contact-button {
        position: absolute;
        bottom: 5%;
    }

    .place-shadow {
        bottom: -660px;
    }

    .place-icons {
        width: 90%;
        padding-right: 5%;
        justify-content: space-between;
        gap:unset;
    }
}

@media (max-width: 950px) {
    .place-shadow {
        width: 270px;
    }
}

@media (max-width: 675px) {
    .skills-headline {
        span {
            font-size: 50px;
        }
    }
    .contact-button {
        width: 140px;
        font-size: 18px;
        padding: 14px;
        bottom: 8%;
    }
    .skills-text {
        font-size: 14px;
        margin-bottom: 1.5rem;
        width: 90%;
        padding-right: 5%;
        padding-left: 5%;
        text-align: center;
    }
    .icon-container {
        span {
            font-size: 14px;
        }

        img {
            width: 52px;
            height: 52px;
        }
    }
    .blue-stroke {
        width: 30%;
    }
    .place-shadow {
        width: 200px;
    }
}

@media (max-width: 475px) {
    .icon-container {
        img {
            width: 42px;
            height: 42px;
        }
    }
    .skills-headline {
        span {
            font-size: 46px;
        }
    }
    .blue-stroke {
        width: 26%;
    }
}

@media (max-height: 860px) {
    .place-icons {
        height: 80vh;
    }
}

@media (max-height: 775px) {
    .single-column {
        gap: 50px;
    }
}