.skills-section {
    position: relative;
    max-width: 100%;
    background-color: rgb(20, 29, 47);
    display: flex;
    align-items: center;
}

.single-column {
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 80px;
    img {
        z-index: 2;
    }
}

.place-shadow {
    position:absolute;
    right: 0;
    bottom: -400px;
    background-image: url('/assets/img/green-shadow.png');
    height: 750px;
    width: 450px;
    background-size: cover;
    z-index: 200;
}

.place-icons {
    gap: 110px;
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    height: 65vh;
    padding-bottom: 10%;
    padding-top: 5%;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 6px;
}

.skills-headline {
    gap: 40px;
    display: flex;
    align-items: center;

    span {
        color: white;
        font-size: 84px;
        font-family: 'poppins-bold';
    }
}

.blue-stroke {
    width: 300px;
    height: 4px;
    background-color: rgb(28, 230, 181);
    border-radius: 10px;
}

.skills-text {
    width: 480px;

    span {
        color: white;
    }
}

.skills-content {
    position: absolute;
    z-index: 500;
    display: flex;
    right: 0;
    top: 17%;
    gap: 36px;
    flex-direction: column;
}

.contact-button {
    background-color: rgb(0, 190, 232);
    padding: 16px;
    width: 200px;
    border-radius: 10px;
    color: white;
    font-size: 22px;
    border: none;

    &:hover {
        cursor: pointer;
        background-color: rgb(75, 71, 255);
        scale: 1.1;
    }
}