<div class="aboutMe-section">

    <div class="aboutMe-content">
        <div class="content-header">About Me</div>
        <div class="content-text">
            Hi, I am a Front-end developer based in Aschaffenburg, Germany. (...)
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam debitis tenetur iste quaerat quis voluptate, sed velit cum ab dolores. Aspernatur rerum numquam, possimus eos provident reiciendis id ex. Perferendis?
        </div>
        <div>
            <div class="personal-infos">
                <img src="/assets/img/lightbulb.png">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sint, nihil corrupti, dolorem officiis velit earum atque nostrum accusantium sit totam! Odio ex similique, recusandae dolores eum ipsam. Numquam, iure.</span>
            </div>

            <div class="personal-infos">
                <img src="/assets/img/puzzle.png" style="width: 42px; height: 50px">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sint, nihil corrupti, dolorem officiis velit earum atque nostrum accusantium sit totam! Odio ex similique, recusandae dolores eum ipsam. Numquam, iure.</span>
            </div>
        </div>
    </div>

   <div class="graphic-area"><img class="aboutMe-graphic" src="/assets/img/aboutMe-graphic.png"></div> 
   <img class="aboutMe-shadow" src="/assets/img/green-purple-shadow.png">
</div>
