<div class="aboutMe-section">

    <div class="aboutMe-content">
        <div class="content-header">About Me</div>
        <div class="content-text">
            Hi, I am a Front-end developer based in Aschaffenburg, Germany. My expertise lies in developing web
            applications with the use of JavaScript and Angular. Feel free to browse through my portfolio of public
            projects, which showcases a range of responsive websites, business applications, and games.
        </div>
        <div>
            <div class="personal-infos">
                <img src="assets/img/lightbulb.png">
                <span>During my time in marketing, I was entrusted with the task of translating a website into English
                    together with one of the developers - my first contact with programming and shortly afterwards I
                    knew that I wanted to pursue a career as a developer. To achieve my goal, I decided to join the
                    Developer Akademie, where I was given the opportunity to develop several projects, both in teams and
                    on my own, and was also able to improve thanks to regular feedback and code reviews from experienced
                    developers.
                </span>
            </div>

            <div class="personal-infos">
                <img src="assets/img/puzzle.png" style="width: 42px; height: 50px">
                <span>I have developed user-friendly, visually appealing applications, games and landing pages. I am now
                    confident in my ability to contribute to your team as a Front-End Developer and
                    eager and highly motivated to continue learning and growing, both on a professional and personal
                    level.</span>
            </div>
        </div>
    </div>

    <div class="graphic-area"><img class="aboutMe-graphic" src="assets/img/aboutMe-graphic.png"></div>
    <div class="place-picture">
        <img class="portfolio-picture" src="assets/img/portfolio-picture2.png">
        <img class="aboutMe-shadow" src="assets/img/green-purple-shadow.png">
    </div>

</div>