<div class="aboutMe-section">

    <div class="aboutMe-content">
        <div class="content-header">About Me</div>
        <div class="content-text">
            Hi, I am a Front-end developer based in Aschaffenburg, Germany. My expertise lies in developing web
            applications with the use of JavaScript and Angular. Feel free to browse through my portfolio of public
            projects, which showcases a range of responsive websites, business applications, and games.
        </div>
        <div>
            <div class="personal-infos">
                <img src="/assets/img/lightbulb.png">
                <span>Ever since I can remember, I have been downright enthusiastic about all kinds of technologies.
                    This eventually led to me writing my first lines of code shortly after graduating from high school
                    and developing a passion for it. In order to turn the initially smaller projects, which were based
                    on various YouTube tutorials, into larger, more diverse projects, I decided to delve deeper into the
                    subject matter. This is how I became aware of the possibility of further training as a front-end
                    developer at the Developer Academy in Munich, which offered a professional approach to acquiring the
                    necessary skills to gain a foothold as a front-end developer.
                </span>
            </div>

            <div class="personal-infos">
                <img src="/assets/img/puzzle.png" style="width: 42px; height: 50px">
                <span>I have developed several user-friendly, visually appealing applications and landing pages and am
                    very enthusiastic to take the next step as a frontend developer to use my skills to contribute to
                    the success of your business.</span>
            </div>
        </div>
    </div>

    <div class="graphic-area"><img class="aboutMe-graphic" src="/assets/img/aboutMe-graphic.png"></div>
    <img class="aboutMe-shadow" src="/assets/img/green-purple-shadow.png">
</div>