.aboutMe-section {
    position: relative;
    height: auto;
    width: 100%;
    background-color: rgb(20, 29, 47);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.graphic-area {
    position: absolute;
    bottom: -320px;
    height: 600px;
    overflow: hidden;
    width: 100%;
}

.aboutMe-graphic {
    width: 105%;
    z-index: 3;
    position: absolute;
}

.aboutMe-shadow {
    position: absolute;
    right: 1%;
    bottom: -40px;
}

.aboutMe-content {
    padding-left: 5%;
    padding-bottom: 3%;
    max-width: 38%;
}

.content-header {
    font-size: 86px;
    color: white;
    font-family: 'poppins-bold'
}

.content-text {
    color: white;
}

.personal-infos {
    margin-top: 40px;
    padding-left: 26px;
    display: flex;
    align-items: center;
    gap: 32px;
    span {
        color: white;
    }
}

.place-picture {
    object-fit: cover;
    width: 600px;
    height: 1067px;
}

.portfolio-picture {
    width: 640px;
    position: absolute;
    right: 7%;
    bottom: 5%;
    z-index: 2;
}

@media (max-width: 1350px) {
    .aboutMe-shadow {
        width: 800px;
        right: 0;
    }

    .portfolio-picture {
        right: 3%;
    }

    .content-header {
        font-size: 68px;
    }
}

@media (max-width: 1275px) {
    .aboutMe-shadow {
        width: 740px;
    }

    .portfolio-picture {
        width: 580px;
        bottom: 4%;
    }

    .graphic-area {
        bottom: -380px;
    }
}

@media (max-width: 1175px) {
    .aboutMe-shadow {
        position: unset;
    }
    .aboutMe-section {
        flex-direction: column-reverse;
    }
    .graphic-area {
        bottom: unset;
        top: 38%;
    }
    .aboutMe-content {
        z-index: 4;
        padding-bottom: 12%;
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
        max-width: none;
    }
    .place-picture {
        position: relative;
        height: auto;
        width: auto;
        padding-top: 7%;
    }
}

@media (max-width: 1050px) {
    .portfolio-picture {
        bottom: 11%;
    }
}

@media (max-width: 900px) {
    .portfolio-picture {
        width: 460px;
        height: auto;
        right: 12%;
        bottom: 16%;
    }
}

@media (max-width: 675px) {
    .content-header {
        font-size: 50px;
    }
    .personal-infos {
        font-size: 14px;
    }
    .graphic-area {
        height: 400px;
        top: 420px;
    }
    .content-text {
        font-size: 14px;
    }
    .aboutMe-shadow {
        padding-top: 8%;
        width: 640px;
    }
    .aboutMe-section {
        overflow: hidden;
    }
    .portfolio-picture {
        bottom: 8%;
    }
}

@media (max-width: 550px) {
    .portfolio-picture {
        width: 400px;
        right: 15%;
        bottom: 15%;
    }
}

@media (max-width: 475px) {
    .content-header {
        font-size: 46px;
    }
    .portfolio-picture {
        width: 370px;
        right: 17%;
        bottom: 10%;
    }
    .aboutMe-shadow {
        width: 580px;
    }
}