.aboutMe-section {
    position: relative;
    height: auto;
    width: 100%;
    background-color: rgb(20, 29, 47);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.graphic-area {
    position: absolute;
    bottom: -320px;
    height: 600px;
    overflow: hidden;
    width: 100%;
}

.aboutMe-graphic {
    width: 105%;
    z-index: 1;
    position: absolute;
}

.aboutMe-shadow {
    position: absolute;
    right: 0;
    bottom: -40px;;
}

.aboutMe-content {
    padding-left: 5%;
    padding-bottom: 200px;
    max-width: 500px;
}

.content-header {
    font-size: 86px;
    color: white;
    font-family: 'poppins-bold'
}

.content-text {
    color: white;
}

.personal-infos {
    margin-top: 40px;
    padding-left: 26px;
    display: flex;
    align-items: center;
    gap: 32px;
    span {
        color: white;
    }
}

@media (max-width: 1350px) {
    .aboutMe-shadow {
        width: 750px;
    }

    .content-header {
        font-size: 68px;
    }
}

@media (max-width: 1275px) {
    .aboutMe-shadow {
        width: 680px;
    }
}

@media (max-width: 1175px) {
    .aboutMe-shadow {
        position: unset;
    }
    .aboutMe-section {
        flex-direction: column-reverse;
    }
    .graphic-area {
        bottom: unset;
        top: 360px;
    }
    .aboutMe-content {
        z-index: 3;
        padding-bottom: 12%;
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
        max-width: none;
    }
}

@media (max-width: 675px) {
    .content-header {
        font-size: 50px;
    }
    .personal-infos {
        font-size: 14px;
    }
    .graphic-area {
        height: 400px;
        top: 420px;
    }
    .content-text {
        font-size: 14px;
    }
    .aboutMe-shadow {
        padding-top: 8%;
        width: 640px;
    }
    .aboutMe-section {
        overflow: hidden;
    }
}

@media (max-width: 475px) {
    .content-header {
        font-size: 46px;
    }
}