<div class="contact-section">
    <div class="contact-headline">
        <span>Contact</span>
        <div class="blue-stroke"></div>
    </div>

    <div class="contact-content">
        <div class="content-leftside">
            <h1>Got a problem to solve?</h1>
            <span>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing
                to your projects with my work.</span>
            <span>Need a Frontend developer? <b>Contact me!</b></span>
        </div>

        <div class="content-rightside">
            <form autocomplete="off" (submit)="sendMail()" ngNativeValidate>
                <input required maxlength="40" type="text" name="name" (keyup)="updateDesignNameInput()"
                    (focus)="updateDesignNameInput()" (focusout)="resetDesignNameInput()" [(ngModel)]="name"
                    placeholder="Your name" #nameField>
                <input required maxlength="50" type="email" name="email" (keyup)="updateDesignEmailInput()"
                    (focus)="updateDesignEmailInput()" (focusout)="resetDesignEmailInput()" [(ngModel)]="email"
                    placeholder="Your email" #emailField>
                <textarea required maxlength="1050" class="place-message" name="message"
                    (keyup)="updateDesignMessageInput()" (focus)="updateDesignMessageInput()"
                    (focusout)="resetDesignMessageInput()" [(ngModel)]="message" placeholder="Your message"
                    #messageField></textarea>
                <div class="button-container"> <button class="send-button" #sendButton>Send message</button> </div>
            </form>
        </div>
    </div>

    <div (click)="toLocation('introduction-section')" class="go-up-button"> </div>
    <img class="purple-shadow" src="/assets/img/purple-shadow-contact.png">

    <div *ngIf="showAlertEmail" class="space-mail-alert">
        <div class="mailSentAlert">
            <span>Email was successfully sent.</span> 
          </div>
    </div>
    

    <div *ngIf="showLoadingAnimation" class="container">
        <div class="row">
            <div id="loader">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="loading"></div>
            </div>
        </div>
    </div>

</div>