.portfolio-section {
    position: relative;
    height: auto;
    width: 100%;
    background-color: rgb(20, 29, 47);
    display: flex;
    align-items: center;
}

.purple-stroke {
    width: 60px;
    height: 4px;
    border-radius: 10px;
    background-color: rgb(75, 71, 255);
}

.portfolio-headline {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
    gap: 40px;

    span {
        color: white;
        font-size: 84px;
        font-family: 'poppins-bold'
    }
}

.portfolio-text {
    position: absolute;
    color: white;
    width: 500px;
    padding-left: 5%;
    top: 7%;
}

.place-projects {
    width: 100%;
    padding-top: 16%;
    padding-bottom: 5%;
    gap: 5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.single-row {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

@keyframes zoom-in {
    from {}

    to {
        transform: scale(1.95);
    }
}

.image-container {
    overflow: hidden;
    position: relative;
    z-index: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1.8px solid rgb(0, 190, 232);

    img {
        min-height: 97%;
        min-width: 97%;
        border-radius: 16px;
    }

    &:hover {
        .project-overlay {
            display: flex;
        }
        img {
            animation: zoom-in 0.3s forwards;
            top: -30px;
        }
    }
}

.project-overlay {
    top: 0;
    border-radius: 16px;
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    flex-direction: column;
    overflow: hidden;
}

.overlay-buttons-area {
    width: 100%;
    height: 40%;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.overlay-text-area {
    width: 86%;
    height: 60%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 7%;
    padding-right: 7%;
    font-size: 22px;
    flex-direction: column;
    gap: 20px;

    &:hover {
        span {
            cursor: default;
        }
    }
}

.github-button {
    width: 140px;
    height: 50px;
    color: white;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.01);
    padding: 14px;
    border: 1px solid rgb(0, 190, 232);
    border-radius: 6px;

    &:hover {
        cursor: pointer;
        background-color: rgb(28, 230, 181);
        border: none;
    }
}

.liveTest-button {
    width: 140px;
    height: 50px;
    color: white;
    font-size: 22px;
    background-color: rgb(75, 71, 255);
    border: none;
    padding: 14px;
    border-radius: 6px;

    &:hover {
        cursor: pointer;
        background-color: rgb(28, 230, 181);
        border: none;
    }
}

.text-area-headline {
    font-size: 30px;
    color: rgb(75, 71, 255);
    font-family: 'poppins-bold';
}

.text-area-subtext {
    color: rgb(0, 190, 232);
    font-weight: 600;
}

.blue-shadow {
    position: absolute;
    bottom: -300px;
    left: -580px;
    z-index: 100;
}

@media (max-width: 1400px) {
    .portfolio-text {
        top: 9%;
    }
    .place-projects {
        padding-top: 20%;
    }
}
@media (max-width: 1350px) {
    .portfolio-headline {
        span {
            font-size: 68px;
        }
    }
}

@media (max-width: 1175px) {
    .portfolio-text {
        position: unset;
    }
    .portfolio-headline {
        position: unset;
    }
    .portfolio-section {
        flex-direction: column;
        align-items: unset;
    }
    .place-projects {
        padding-top: 8%;
    }
    .overlay-text-area {
        font-size: 18px;
    }
    .text-area-headline {
        font-size: 24px;
    }
    .blue-shadow {
        bottom: -230px;
        left: -650px;
    }
}

@media (max-width: 1000px) {
    .overlay-text-area {
        font-size: 16px
    }
    .text-area-headline {
        font-size: 22px;
    }
    .github-button {
        font-size: 18px;
    }
    .liveTest-button {
        font-size: 18px;
    }
}

@media (max-width: 875px) {
    .overlay-text-area {
        gap:unset;
        padding-left: 2%;
        padding-right: 2%;
        width: 96%;
    }
    .github-button {
        width: 120px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .liveTest-button {
        width: 120px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .overlay-buttons-area {
        height: 35%;
    }
    .overlay-text-area {
        height: 65%;
    }
    .single-row {
        gap: 3rem;
    }
    .place-projects {
        gap: 3rem;
    }
}

@media (max-width: 720px) {
    .single-row {
        flex-direction: column;
        padding-left: 10%;
        padding-right: 10%;
        width: 80%;
    }
    .overlay-text-area {
        gap: 2rem;
    }
    .image-container {
        img {
            min-width: 100%;
        }
    }
}

@media (max-width: 675px) {
    .portfolio-headline {
       span {
        font-size: 50px;
       } 
    }
    .portfolio-text {
        font-size: 14px;
        width: 90%;
        padding-right: 5%;
        z-index: 999;
    }
    .overlay-text-area {
        gap: 1.3rem;
    }
    .text-area-headline {
        font-size: 20px;
    }
}

@media (max-width: 475px) {
    .overlay-text-area {
        gap: 0.4rem;
    }
    .portfolio-headline {
        span {
            font-size: 46px;
        }
    }
    .single-row {
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
    }
}