<div class="portfolio-section">
    <div class="portfolio-headline">
        <div class="purple-stroke"></div> <span>Portfolio</span>
    </div>
    <div class="portfolio-text">
        This page is a sample of my work! Please feel free to try them out.
    </div>

    <div class="place-projects">
        <div class="single-row">
            <div class="image-container">
                <img src="assets/img/pollo-loco.png">
                <div class="project-overlay">
                    <div class="overlay-buttons-area"> <button (click)="redirectTo('https://github.com/FaroTom/El-Pollo-Loco---Minigame')" class="github-button">Github</button> 
                        <button class="liveTest-button">Live test</button> </div>
                    <div class="overlay-text-area">
                        <span class="text-area-headline">El Pollo Loco</span>
                        <span>Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and
                            tabasco salsa to fight against the crazy hen.</span>
                        <span class="text-area-subtext"> JavaScript | HTML | CSS </span>
                    </div>
                </div>
            </div>

            <div class="image-container">
                <img src="assets/img/join.png">
                <div class="project-overlay">
                    <div class="overlay-buttons-area"> <button (click)="redirectTo('https://github.com/FaroTom/Join---Kanban-Board')" class="github-button">Github</button> <button
                            class="liveTest-button">Live test</button> </div>
                    <div class="overlay-text-area">
                        <span class="text-area-headline">Join</span>
                        <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop
                            functions, assign users and categories</span>
                        <span class="text-area-subtext"> JavaScript | HTML | CSS </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-row">
            <div class="image-container">
                <img src="assets/img/ringoffire.png">
                <div class="project-overlay">
                    <div class="overlay-buttons-area"> <button (click)="redirectTo('https://github.com/FaroTom/Ring-of-Fire')" class="github-button">Github</button> 
                        <button class="liveTest-button">Live test</button> </div>
                    <div class="overlay-text-area">
                        <span class="text-area-headline">Ring Of Fire</span>
                        <span>Angular based webapp of the popular drinking game. Play with as many friends as you want, customise your character picture and perform!</span>
                        <span class="text-area-subtext"> TypeScript | HTML | SCSS | Angular </span>
                    </div>
                </div>
            </div>

            <div class="image-container">
                <img src="assets/img/portfolio.png">
                <div class="project-overlay">
                    <div class="overlay-buttons-area"> <button (click)="redirectTo('https://github.com/FaroTom/Portfolio')" class="github-button">Github</button> 
                        <button class="liveTest-button">Live test</button> </div>
                    <div class="overlay-text-area">
                        <span class="text-area-headline">Portfolio</span>
                        <span>The page you are currently on - a short introduction, some of my best projects and the possibility to contact me directly.</span>
                        <span class="text-area-subtext"> TypeScript | HTML | SCSS | Angular </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img class="blue-shadow" src="assets/img/blue-shadow.png">
</div>