body {
    margin: 0;
    font-family: 'poppins' ;
}

@font-face {
    font-family: 'poppins';
    src: url('/assets/fonts/Poppins-Regular.ttf');
  }

  @font-face {
    font-family: 'poppins-bold';
    src: url('/assets/fonts/Poppins-Bold.ttf');
  }
